@import './vars.css';

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--damasq-dark-grey);
  margin: 0;
  /* background-image: url('../assets/images/logo-sign.svg');
  background-repeat: no-repeat;
  background-position-x: 65vw;
  background-position-y: 20vw; */
}

html, body, body > div, body > div > div {
  height: 100%;
}

a {
  color: var(--damasq-dark-grey);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
